@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 2px white;
}
<<<<<<< HEAD
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
=======
>>>>>>> 2ab03fee2904f07cbf1b3c8ceadc3c37117c5f78
